/build
*.iml
.kotlin
.gradle
.idea
.externalNativeBuild
.cxx
.DS_Store
captures
local.properties
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorksptfuaceSettings.xcsettings